* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --gradient:linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
  --gradient: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
  --color1: rgb(65, 67, 67);
  --color2: rgb(225, 25, 158);
  --box_shadow: 5px 10px 5px rgba(87, 201, 69, 0.5);
  --box_shadow: 5px 10px 5px rgba(217, 224, 13, 0.5);
}
body{
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background: var(--gradient);
}
.card{

    background-color: white;
    width: 300px;
    margin: 30px auto;
    padding: 30px 20px;
    text-align: justify;
    box-shadow: var(--box_shadow);
    color: var(--color2);
  
}
.card__titulo{

  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.card_btn{
  
  width: 80px;
  display: block;
  padding: 12px 20px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  color: var(--color1);
  text-decoration: none;
  text-align: justify;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: var(--gradien, linear-gradient(to top, #9be15d 0%, #00e3ae 100%));
  box-shadow: var(--box_shadow);
}
.card2{
  color: var(--color2);
  background-color: white;
  width: 300px;
  margin: 30px auto;
  padding: 30px 20px;
  text-align: justify;
  box-shadow: var(--box_shadow);
}

.card2 .card__titulo{
  --color1:purple;
  color: var(--color1);
}

.card__text{
  font-size: 1.2rem;
  color: var(--color2);
}
.form__submit{
  width: var(--);
}